input[type=text], textarea, input[type=file] {
	width:340px;
}

#apptree ul > li {
	margin-left:20px;
}

div.selectimg {
	display:inline-block;

}

#_cats{
	width: 600px;
	overflow: auto;
	height: 330px;
	padding: 10px;
	background: #ffffff;
}

#_pages{
	width: 600px;
	overflow: auto;
	height: 300px;
	padding: 10px;
	background: #ffffff;
}

#box_left{
	width:630px;
	float:left;
}

#box_right{
	margin-right:30px;
	width:380px;
	float:right;
	margin-top:30px;
}

.boxin{
	padding:15px;
}

#save{
	padding:7px;
}
